	
	<div ng-show="deviceControllerDown"> 
		<div class="row text-center">
			<div  class="col-md-offset-2 col-md-8  alert alert-danger alert-dismissable">
				<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Device Controller appears to be down, you will not be able to communicate with your smart devices</strong>
			</div>
		</div>
	</div>
	
	<!-- Currently discovering devices -->
	<div ng-show="discoveringDevices && !deviceControllerDown" class="col-md-offset-4 col-md-4  alert alert-info alert-dismissable">
			<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong nf-if="discoveringDevices">Discovering devices, please wait....</strong>
	</div>
		
			<div class="row text-center">
				<div ng-if="offlineDevices.length > 0" class="col-md-offset-2 col-md-8  alert alert-danger alert-dismissable">
							<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong ng-if="offlineDevices.length > 0">Following devices do not appear to be contactable, ensure they are plugged in or configured correctly.</strong>
							{{offlineDevices}}		
				</div>
			</div>
		

			<!-- 	Displays disvovered devices, no need for this really -->		
			<!-- 		<div class=".row top-buffer">
					 		<div ui-grid="discoveredDevicesGridOptions" ui-grid-edit ui-grid-cellnav class="grid"></div>
					 	</div>
			 -->		

			<div class=".row text-center top-buffer">
				<button type="button" class="btn btn-primary btn-lg" ng-click=addDevice>Add Device</button>
			</div>
			
			<!-- DeviceConfig -->
			<label>DEVICE CONFIG</label>
			<div class=".row top-buffer">
		 		<div ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav class="grid"></div>
		 	</div>
		 	
		 	<!-- Room Config -->
		 	<div class=".row top-buffer text-center">
				<button type="button" class="btn btn-primary btn-lg" ng-click=configService.addRoomConifg>Add Room</button>
			</div>
			
			<label>ROOM CONFIG</label>
			<div class=".row top-buffer text-center">
		 		<div ui-grid="roomConfigGridOptions" ui-grid-edit ui-grid-cellnav class="grid"></div>
			</div>	

 	